<div class="single-page-content">
    <!-- <div class="diagonal"><img ng-src="{{baseUrl}}/resources/images/diagonal.svg"></img></div> -->
    <h1 class="blue-header"><div class="content">About Us</div></h1>
    <div class="static-page-content">
	    <p>At Easy Law, we believe that finding a good lawyer and getting affordable legal advice should be a simple process.</p>
	    <p>We also believe that good lawyers should stand out and build a strong following based on the quality of their work and not their marketing budget.</p>
	    <p>Easy Law levels the playing field. Absolute transparency and accountability mean that lawyers who consistently serve clients well, rise to the top. It's that simple.</p>
        <h2>Our Team</h2>
        <p>We are an odd-trio with a clear mission: an entrepreneur, a technical guru and an experienced lawyer set out to improve the way lawyers and clients connect.</p>
        <p>Our drive and dedication to our mission led to the birth of Easy Law in 2013.</p>
        <div class="team-member">
            <div class="team-member-left alon"></div>
            <div class="team-member-right">
                <h4>ALON - CEO</h4>
                <p>Alon is our Swiss-Army-Knife CEO. Responsible for everything, accountable to everyone... quite exhausting really. Alon is a commercial lawyer and startup advisor and is responsible for management, marketing and growth. He's also quite friendly and wants all your feedback on how we can do things better over a good cup of coffee.</p> 
                <p>Likes: Bicycles, Motorcycles, Classic Cars, Italy, Fashion, Espresso, Rejection Letters</p>
            </div>
        </div>
         <div class="team-member">
            <div class="team-member-left eden"></div>
            <div class="team-member-right">
                <h4>EDEN - CTO</h4>
                <p>Eden is our technical guru. A software engineer extraordinaire with over 13 years experience, Eden has worked with some pretty big players such as Kaggle, Ladybub, the Bureau of Meteorology, ING DIRECT, WEHI, and Ford. Eden is pasionate about building technological solutions that change the world. When he is not coding you can find him following Bruce Springsteen around the world.</p>
                <p>Likes: Travelling, Swimming, Bruce Springsteen, JavaScript</p>
            </div>
        </div>
        <div class="team-member">
            <div class="team-member-left gid"></div>
            <div class="team-member-right">
                <h4>GID - Chairman</h4>
                <p>Gid is our version of the 'grey hair' exec except that he has so far managed to avoid the grey hair. Great on governance and numbers and responsible for business strategy, finance, recruitment and engagement of our legal community. A specialist corporate lawyer with over 20 years' executive experience at ASX listed companies where he held a variety of roles and as a partner and practitioner at top and mid tier CBD firms. When he's not working, Gid hangs out with his kids and his dog - all of which are bigger than him. </p>
                <p>Likes: Running, Boxing, Guitar, Dogs</p>
            </div>
        </div>
    </div>
</div>