<div id="ask-question" ng-controller="AskQuestionCtrl">
    <h1>Ask our experienced lawyers a question or post a job</h1>
    <form>
        <textarea required="true" autofocus ng-model="question.text" required="true" maxlength="700"></textarea>
        <button class="grey" ng-click="go()">Go</button>
    </form>
</div>
<!--
 <div id="welcome" ng-controller="AskQuestionCtrl">
    <h1>Welcome to Easy Law!</h1>
    <h1>We are busy building the platform</h1>
    <h2>If you are a lawyer, you can get started now by creating a profile and increasing your online presence</h2>
    <form>
        <button class="grey" ng-click="lawyerSignUp()">Create Profile</button>
    </form>
</div>
-->