<div class="single-page-content">
    <!-- <div class="diagonal"><img ng-src="{{baseUrl}}/resources/images/diagonal.svg"></img></div>  -->
    <h1 class="blue-header"><div class="content">Contact Us</div></h1>
    <div class="static-page-content">
        <p>We are always keen to get in touch. Whether you are looking for legal services, are a lawyer and want to get involved, or just have some feedback for us drop us a line and we will get back to you as soon as possible. Our details are:</p>
        <p><span class="blue">Mobile:</span> 0468 352 917</p>
        <p><span class="blue">Landline:</span> (03) 9912 2228</p>
        <p>Email: <a href="mailto:contact@easylaw.com.au">contact@easylaw.com.au</a></p>
    </div>
</div>