<form name="emailPasswordForm" ng-controller="UserSettingsCtrl">
    <h2>Change Your Email or Password</h2>
    <a class="error-box" ng-show="error" ng-click="error=false" title="close">{{errorMessage}}</a>
    <a class="success-box" ng-show="success" ng-click="success=false" title="close">{{successMessage}}</a>
    <div class="input-field"><label>Email</label><input type="text" ng-model="user.email" ng-change="clear()" ng-maxlength="200" required="true"></div>
    <div class="input-field"><label>Password</label><input type="password" ng-model="emailPassword.password" ng-change="clear()" ng-maxlength="200"></div>
    <div class="input-field"><label>Repeat Password</label><input type="password" ng-model="emailPassword.repeat" ng-change="clear()" ng-maxlength="200"></div>
    <button class="blue" ng-click="updateEmailPassword()" href="javascript:void(0)" ng-disabled="emailPasswordForm.$invalid">Save Changes</button>
</form>