<div class="single-page-content lawyers-join-us">
    <!-- <div class="diagonal"><img ng-src="{{baseUrl}}/resources/images/diagonal.svg"></img></div>  -->
    <h1 class="blue-header"><div class="content">Lawyers Join Us</div></h1>
    <div class="static-page-content">
        <h2>A simple idea to make life easy</h2>
        <p>Easy Law is a revolutionary new way for lawyers to build their practice and expand their client base online.</p>
        <p>Our easy to use website allows you to find and help prospective clients, quote for jobs and build your reputation online whenever you choose at no cost.</p>
        <h3>Brilliant! But how does it work?</h3>
        <p>Easy Law provides two simple ways for you to connect with clients:</p>
        <div class="way-to-connect">
            <div class="image question"></div>
            <div class="right">
                <h2 class="pink">Ask a Question</h2>
                <p>A simple 'Q&A service' which allows you to answer general questions posted by clients.</p>
            </div>
        </div>
        <div class="way-to-connect">
            <div class="image cart"></div>
            <div class="right">
                <h2 class="pink">Legal Marketplace</h2>
                <p>An online 'post a job' service where you can quote for legal work posted by users. </p>
            </div>
        </div>
        <h3><div class="box blue"></div>On your terms</h3>
        <p>Easy Law's mission is to make your life easier.</p>
        <p>Our platform helps you build your business and client-base by doing what you've always done: helping clients.</p>
        <p>When you're ready to build your business, Easy Law offers you a simple way to engage with new clients. It's free to join and engage with potential clients.</p>
        <h3><div class="box pink"></div>Success means business</h3>
        <p>We place a great emphasis on the provision of quality legal services to clients. Your chance of securing more clients grows with every successful transaction on our site.</p>
        <p>Lawyers who provide clients with quality legal services will rise to the top of our ranking system and grow their business. It's not rocket science - it's Easy Law.</p>
        <h3><div class="box grey"></div>Easy clients</h3>
        <p>Easy Law does the hard yards to find your next client. We then make your life easy by collecting your fees upfront before you commence work so that you never have to waste your valuable time and resources chasing unpaid bills.</p>
        <h3><div class="box blue"></div>What's the deal?</h3>
        <p>We like simple things: simple agreements; simple terms and conditions; simple success for both lawyers and clients.</p>
        <p>When a client engages you through our 'post a job' platform, Easy Law collects your quoted fees upfront and retains a 15% transaction fee. Easy Law then releases the remaining 85% to you upon completion of the job and takes care of the invoicing and other paperwork that takes the fun out of lawyering.</p>
        <h2>Where do I start?</h2>
        <p>The first step is to sign up. It's free and it only takes 5 minutes to set up your profile.  Once your profile is set up, you can start developing your online reputation! Our ask a question service is coming soon. If you change your mind you can deactivate or unsubscribe at any time.</p>
        <a href="#!/signup/lawyer" class="blue">Sign Up Now</a>
    </div>
</div>